.stack_cards {
  width: 100%;
  min-width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: transparent;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 200ms;
}

.card:nth-last-child(n + 4) {
  --y: calc(-50% + -30px);
  transform: translate(-50%, var(--y)) scale(0.9);
  box-shadow: 0 0 1px 1px #00000003;
}
.card:nth-last-child(3) {
  --y: calc(-50% + -15px);
  transform: translate(-50%, var(--y)) scale(0.95);
}
.card:nth-last-child(2) {
  --y: calc(-50%);
  transform: translate(-50%, var(--y)) scale(1);
}
.card:nth-last-child(1) {
  --y: calc(-50% + 15px);
  transform: translate(-50%, var(--y)) scale(1.05);
}

@keyframes swap {
  50% {
    transform: translate(-70%, calc(var(--y) - 250px)) scale(0.85)
      rotate(-10deg);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translate(-70%, calc(var(--y) - 15px)) scale(0.85);
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .stack_cards {
    width: 100% !important;
    min-width: 100% !important;
  }
}
